In [16]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [17]:
dataset = pd.read_csv("iris.csv")
dataset.head(8)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [18]:
le = LabelEncoder()
dataset['species'] = le.fit_transform(dataset['species'])
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [19]:
dataset['species'].unique()

array([0, 1, 2])

In [20]:
X = dataset[['sepal_length','sepal_width','petal_length','petal_width']]
Y = dataset['species'].values 
print(X.shape, Y.shape)

(150, 4) (150,)

In [21]:
lo = LogisticRegression(solver='lbfgs')
lo = lo.fit(X,Y)
Y_pred = lo.predict(X)

In [24]:
lista = list(zip(Y_pred, Y))
lista_df = pd.DataFrame(lista,columns=['Y_pred', 'Y'])
lista_df.head(5)

   Y_pred  Y
0       0  0
1       0  0
2       0  0
3       0  0
4       0  0

In [23]:
pd.crosstab(Y_pred,Y)

col_0   0   1   2
row_0
0      50   0   0
1       0  47   1
2       0   3  49